.Top {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--_topbar_height);
  background-color: white;
  position: sticky;
  top: 0;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 999;
}

.TopLeft,
.TopRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TopCenter {
  flex: 6;
}

/* avatar */
.Avatar {
  width: var(--_img_width);
  height: var(--_img_height);
  border-radius: 50%;
  object-fit: cover;
}
/* icon styles */
.TopSearchIcon {
  font-size: var(--_font_size_big);
  counter-reset: #666;
  cursor: pointer;
  margin-left: 15px;
}
.TopIcon {
  font-size: var(--_font_size_larger);
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}
.TopList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.TopListItem {
  margin-right: 20px;
  font-size: var(--_font_size_big);
  font-weight: 300;
  cursor: pointer;
}
